params {
    skip                     = ''
    gpu                      = false
    run                      = ''
    outdir                   = null
    remoteFile               = null
    container                = "quay.io/biocontainers/ubuntu:24.04"
    fusion        = false
    fusion_reference_profile = null
    fusion_cache_path        = '/tmp'
    fusion_additional_buckets = null
}

process {
    container     = params.container
    errorStrategy = "finish"
}

includeConfig 'conf/fusion.config'
