params {
    skip                      = ''
    gpu                       = false
    run                       = ''
    outdir                    = null
    remoteFile                = null
    container                 = "quay.io/biocontainers/ubuntu:24.04"
    fusion                    = false
    fusion_kernel_version_min = null
    fusion_memory_capacity_gb_min = null
    fusion_disk_capacity_gb_min  = null
    fusion_nvme_required         = null
    fusion_vcpus_min             = null
    fusion_open_files_min     = null
    fusion_cache_path         = '/tmp'
    fusion_read_write_buckets = ""
    fusion_read_only_buckets  = ""
}

process {
    container     = params.container
    errorStrategy = "finish"
}

includeConfig 'conf/fusion.config'
