params {
    skip       = ''
    gpu        = false
    run        = null
    outdir     = null
    remoteFile = null
    container  = "quay.io/biocontainers/ubuntu:24.04"
}

process {
    container     = "quay.io/biocontainers/ubuntu:24.04"
    errorStrategy = "finish"
    when          = { 
        ( params.run ? params.run.split(',').any{ "NF_CANARY:${it.toUpperCase()}".contains(task.process) } : true ) && 
        (!params.skip.split(',').any{ "NF_CANARY:${it.toUpperCase()}".contains(task.process) } ) 
    }
}
