name: test
on:
  push:
    branches: [main]
    paths-ignore:
      - "!**/*.md"
  pull_request:
    branches: [main]
    paths-ignore:
      - "!**/*.md"
  merge_group:
    types: [checks_requested]
    branches: [main]

# Cancel if a newer run is started
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  prettier:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Install NodeJS
        uses: actions/setup-node@v3

      - name: Install Prettier
        run: npm install -g prettier

      - name: Run Prettier --check
        run: prettier --check .

  nf-test:
    runs-on: ubuntu-20.04
    env:
      NXF_ANSI_LOG: false
    steps:
      - uses: actions/checkout@v3

      - name: Cache software installation
        id: cache-software
        uses: actions/cache@v3
        with:
          path: |
            /usr/local/bin/nextflow
            /usr/local/bin/nf-test
            /home/runner/.nf-test/nf-test.jar
          key: ${{ runner.os }}-software-${{ github.workspace }}

      - name: Install Nextflow
        env:
          CAPSULE_LOG: none
        if: steps.cache-software.outputs.cache-hit != 'true'
        run: |
          wget -qO- get.nextflow.io | bash
          sudo mv nextflow /usr/local/bin/

      - name: Install nf-test
        if: steps.cache-software.outputs.cache-hit != 'true'
        run: |
          wget -qO- https://code.askimed.com/install/nf-test | bash
          sudo mv nf-test /usr/local/bin/

        # Test the module
      - name: Run nf-test
        run: |
          nf-test test \
              --tap=test.tap

      - uses: pcolby/tap-summary@v1
        with:
          path: >-
            test.tap
